<div id="profile_wrapper">

	<% if !flash[:notice].nil? %>
	<%= flash[:notice] %>
	<% end %>

	<div id="profile_name">
		<h1><%= current_user.username %></h1>
	</div>

	<div id="profile_pic">

	</div>

	<div id="profile_post">
		<h1> Post Something New ... </h1>
	</div>

	<div id="profile_postEntry">
		
		<form method="POST" action="/post_create">
			<input id="postEntry" type="text" name="entry" placeholder="Enter your new post here." maxlength="150"/></br>
			<input id="profile_submit" type="submit" value="Submit"/>
		</form>

	</div>

	<div id="profile_recentPostArea">

		<div id="profile_recentPosts">
			<h1> Recent Posts </h1>
		</div>


		<% current_user.posts.each do |body| %>

		<div class="profile_posts">
			<%= body.created_on %> <br/>
			<%= body.post_in %>
		</div>

		<% end %>

	</div>

</div>
