<div id="profile_wrapper">

	<% if !flash.nil? %>
	<%= flash[:notice] %>
	<% end %>

	<div id="profile_name">
		<h1> Profile Name </h1>
	</div>

	<div id="profile_pic">

	</div>

	<div id="profile_post">
		<h1> Post Something New ... </h1>
	</div>

	<div id="profile_postEntry">
		
		<form method="POST" action="/post_create">
			<input id="postEntry" type="text" name="entry" placeholder="Enter your new post here." maxlength="150" size="100" /></br>

			<input id="profile_submit" type="submit" value="Submit"/>
		</form>

	</div>

	<div id="profile_recentPostArea">

		<div id="profile_recentPosts">
			<h1> Recent Posts </h1>
		</div>

		<div id="profile_posts">

			

		</div>

	</div>


<!-- 	<div id="profile_following">
		<h2> Who I'm Following ... </h2>
	</div> -->

</div>
