<div id="home_wrapper">

	<% if !flash[:notice].nil? %>
	<%= flash[:notice] %>
	<% end %>

	<div id="home_name">
		<h1><%= current_user.username %></h1>
	</div>

	<div id="home_pic">

	</div>

	<div id="home_post">
		<h1> Post Something New ... </h1>
	</div>

	<div id="home_postEntry">
		
		<form method="POST" action="/post_create">
			<input id="homeEntry" type="text" name="entry" placeholder="Enter your new post here." maxlength="150"/></br>
			<input id="home_submit" type="submit" value="Submit"/>
		</form>

	</div>

	<div id="home_recentPostArea">

		<div id="home_recentPosts">
			<h1> Recent Posts </h1>
		</div>

		<% current_user.posts.each do |body| %>

		<div class="home_posts">
			<div class="home_timein">
				<%= body.created_on %> <br/>
			</div>

			<div class="home_postin">
			<%= body.post_in %>
			</div>
		</div>

		<% end %>

	</div>

</div>
