<!doctype html>
<html>

	<head>
		<title></title>
		<link type="text/css" rel="stylesheet" href="../css/style.css"/>
		<script src="../javascript/javascript.js"></script>
	</head>


	<body>
		<div id="page_wrapper">
			
			<div id="banner"></div>

			<div id="layout_wrapper">
				<div id="nav_bar" class="layout_item">
					<ul>
						<% if !current_user.nil? %>
						<li><a class="nav_btn" href="/home"><%= current_user.fullname %></a></li>
						<li><a class="nav_btn" href="/logout">Logout</a></li>
						<li><a class="nav_btn" href="/settings">Settings</a></li>
						<% end %>

					</ul>
				</div>
				<div id="layout_yield" class="layout_item">
					<%= yield %>
				</div>
			</div>
		</div>

		<footer id="layout_footer">&copy; Franky & Ken 2014</footer>
		
	</body>

</html>