<!doctype html>
<html>

	<head>
		<title></title>
		<link text="text/css" type="stylesheet" href="../css/style.css"/>
		<script src="../javascript/javascript.js"></script>
	</head>


	<body>
		<div id="banner"></div>

		<div id="layout_wrapper">
			<div id="nav_bar">
				<ul>

					<li><a class="nav_btn" href="/profile"><%= p "#{current_user.profile.fname} #{current_user.profile.lname}" %></a></li>
					<li><a class="nav_btn" href="/settings">Settings</a></li>

				</ul>
			</div>

			<%= yield %>

		</div>

		<footer id="layout_footer">&copy; Franky & Ken 2014</footer>

	</body>

</html>