<div id="ProfileName">
	<h1> Profile Name </h1>
</div>

<div id="Profile_Pic">

</div>

<div id="Profile_RecentPosts">
	<h1> Recent Posts </h1>
</div>

<div id="Profile_Posts">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste. Eligendi, eaque. Accusamus possimus praesentium rerum odit voluptatum ut! Ipsam, fugit qui nisi nam.</p>

</div>