<div id="profileName">
	<h1> Profile Name </h1>
</div>

<div id="profile_Pic">

</div>

<div id="profile_Post">
	<h1> Post Something New ... </h1>
</div>

<div id="profile_postEntry">

	<input id="postEntry" type="text" name="entry" placeholder="Enter your new post here." maxlength="150" size="100" /></br>

	<input id="profile_submit" type="submit" value="Submit"/>

</div>

<div id="profile_RecentPosts">
	<h1> Recent Posts </h1>
</div>

<div id="profile_Posts">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit deserunt ducimus vero aperiam, facere, quibusdam iste.</p>

</div>