<div id="settings_wrap">

	<div class="settings_btn_wrap">

		<div class="setting_text">Name: </div>
		<div id="setting_btn1" class="setting_btn setting_text">edit</div>
		<div class="current_info"><%= current_user.fname %></div>
		<form id="settings_form1" class="setting_form_box" method="POST" action="/settings_change">
			<input type="text" name="fname" placeholder="Name"/>
			<input type="submit" value="Change"/>
		</form>
	</div>

	<div class="settings_btn_wrap">	

		<div class="setting_text">Last Name: </div>
		<div id="setting_btn2" class="setting_btn setting_text">edit</div>
		<div class="current_info"><%= current_user.lname %></div>
		<form id="settings_form2" class="setting_form_box" method="POST" action="/settings_change">
			<input type="text" name="lname" placeholder="Last Name"/>
			<input type="submit" value="Change"/>
		</form>
	</div>

	<div class="settings_btn_wrap">

		<div class="setting_text">Username:</div>
		<div id="setting_btn3" class="setting_btn setting_text">edit</div>
		<div class="current_info"><%= current_user.username %></div>
		<form id="settings_form3" class="setting_form_box" method="POST" action="/settings_change">
			<input type="text" name="Username" placeholder="Username"/>
			<input type="submit" value="Change"/>
		</form>
	</div>

	<div class="settings_btn_wrap">

		<div class="setting_text">Password</div>
		<div id="setting_btn1" class="setting_btn setting_text">change</div>
		<form id="settings_form4" class="setting_form_box" method="POST" action="/settings_change">
			<input type="password" name="password_confirm" placeholder="Old Password"/>
			<input type="password" name="password" placeholder="New Password"/>
			<input type="submit" value="Change"/>
		</form>
	</div>

	<div class="settings_btn_wrap">
	<div class="setting_text">Delete Account</div>
	</div>
</div>
