
body {
	background-image: url('../images/Old_Book.jpg');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#page_wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.3);
}

#banner {
    width: 100%;
    height: 200px;
    background-image: url("../images/HighSchool.jpg");
    opacity: .8;
    background-size: 100% 200px;
    background-position: center;
    background-repeat: no-repeat;   
}

#layout_wrapper {
    width: 100%;
    padding-bottom: 25px;
}

.layout_item {
	display: inline-block;
    margin: 0;
    vertical-align: top;
    margin-top: 25px;
}

#nav_bar {
    width: 15%;
}

#layout_yield {
	width: 82.9%;
	padding-left: 15px;
	border-left: solid 1px black;
}

li {
    list-style: none;
    margin-bottom: 5px;
}

.nav_btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav_btn:hover {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#layout_footer {
    text-align: right;
    margin-top: 100px;
    background-color: none;
}

.column {
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
}


/*Home.erb CSS*/

#home_description {
	width: 60%;
}

.home_description_text {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em;
	margin-bottom: 25px;
	text-indent: 30px;
	font-size: 1.75em;
}

#home_describe_top {
	padding-top: 50px;
}

.home_login_signup {
	font-weight: bold;
	font-size: 3em;
	margin-top: 25px;
	margin-bottom: 25px;
}

#home_login_wrapper {
	width: 35.7%;
}

.form_space {
	margin-bottom: 10px;
	font-size: 1.2em;
}


/*Profile.erb CSS*/

#ProfileName {
	display: inline-block;
}

#ProfileName h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

#Profile_Pic {
	/*display: inline-block;*/
	float: right;
	border: 1px solid orange;
	height: 200px;
	width: 200px;
	margin: 25px 80px 25px 40px;
}

#Profile_RecentPosts h1 {
	margin-top: 0;
	margin-bottom: 20px
}


/*setting page CSS*/

#settings_wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
}

.settings_btn_wrap {
	float: left;
	height: 100px;
	width: 275px;
	margin-right: 50px;
	padding-right: 65px;
}

.setting_text {
	display: inline-block;
	font-size: 1.5em;
	
}

.setting_btn {
	font-size: 1.1em;
	float: right;
	right: 0;
}

.setting_form_box {
	display: none;
	margin-top: 20px;
}